<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TriviaBlast Nav Fragment</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:fragment="nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <!-- Logo + Title -->
                <a class="navbar-brand d-flex align-items-center" th:href="@{/}" href="/">
                    <img th:src="@{/img/logo.png}" src="/img/logo.png" alt="logo TriviaBlast" width="32" height="32"
                        class="d-inline-block align-text-top me-2">
                    TriviaBlast
                </a>


                <!-- Hamburger view for small screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu -->
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ms-auto align-items-center">

                        <!-- Scoreboard button -->
                        <li class="nav-item mx-2">
                            <a class="nav-link" th:href="@{/scoreboard}" href="/scoreboard">Scoreboard</a>
                        </li>

                        <!-- Proposal button -->
                        <li class="nav-item mx-2">
                            <a class="nav-link" th:href="@{/proposal}" href="/proposal">Proposal</a>
                        </li>

                        <!-- Dropdown Views -->
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle" href="#" id="viewsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Views
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="viewsDropdown">
                                <li><a class="dropdown-item" th:href="@{/join_game}" href="/join_game">Join Game</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/multi_game}" href="/multi_game">Multi Game</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/multi_game_setup}"
                                        href="/multi_game_setup">Multi Game Setup</a></li>
                                <li><a class="dropdown-item" th:href="@{/multi_victoryscr}"
                                        href="/multi_victoryscr">Multi Victory</a></li>
                                <li><a class="dropdown-item" th:href="@{/profile}" href="/profile">Profile</a></li>
                                <li><a class="dropdown-item" th:href="@{/single_game}" href="/single_game">Single
                                        Game</a></li>
                            </ul>
                        </li>

                        <!-- Log in -->
                        <li class="nav-item mx-2">
                            <a class="btn btn-outline-primary btn-sm" th:href="@{/login}" href="/login"
                                sec:authorize="isAnonymous()">Login</a>
                        </li>

                        <!-- <th:block th:unless="${u}">
                            <li class="nav-item mx-2">
                                <a class="nav-link" th:href="@{/login}" href="/login">Login</a>
                            </li>
                            </*
                                Esto es un comentario "thymeleaf" - no se verá en el HTML
                                El bloque de "debug" sólo está activado si application.properties tiene debug a "true"
                                    (ver StartupConfig.java para ver cómo se lee de la configuración
                                    y luego se escribe a ${application.debug})
                            */>
                            <li class="nav-item debug align-self-center" th:if="${application.debug}">
                                <form class="d-flex" th:action="@{/login}" method="post">
                                    <input type="hidden" name="username" value="a">
                                    <input type="hidden" name="password" value="aa">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <button type="submit" class="btn btn-outline-danger btn-sm">a</button>
                                </form>

                            </li>
                            <li class="nav-item debug align-self-center" th:if="${application.debug}">
                                <form class="d-flex" th:action="@{/login}" method="post">
                                    <input type="hidden" name="username" value="a">
                                    <input type="hidden" name="password" value="aa">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <button type="submit" class="btn btn-outline-danger btn-sm">a</button>
                                </form>

                            </li>
                        </th:block> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

</body>

</html>