<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Authors</title>
    <link rel="stylesheet" th:href="@{/css/simple-datatables-10.css}" href="/css/simple-datatables-10.css"
        type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Authors</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
                <div class="col">
                    <div class="card h-100">
                        <img th:src="@{/img/Nerea.png}" class="card-img-top" alt="Nerea">
                        <div class="card-body">
                            <h5 class="card-title">Nerea Arias</h5>
                            <p class="card-text">Informatics Engineering</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img th:src="@{/img/Jieru.png}" class="card-img-top" alt="Jieru">
                        <div class="card-body">
                            <h5 class="card-title">Jieru Peng</h5>
                            <p class="card-text">Software Engineering</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img th:src="@{/img/Alexandra.png}" class="card-img-top" alt="Alexandra">
                        <div class="card-body">
                            <h5 class="card-title">Alexanda Radulescu</h5>
                            <p class="card-text">Erasmus</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img th:src="@{/img/Inés.png}" class="card-img-top" alt="Inés">
                        <div class="card-body">
                            <h5 class="card-title">Inés Triviño</h5>
                            <p class="card-text">Software Engineering</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img th:src="@{/img/Alara.png}" class="card-img-top" alt="Alara">
                        <div class="card-body">
                            <h5 class="card-title">Alara</h5>
                            <p class="card-text">Erasmus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>