<!DOCTYPE html>
<html lang="es" class="h-100" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>TriviaBlast</title>
    <link rel="stylesheet" th:href="@{/css/simple-datatables-10.css}" href="/css/simple-datatables-10.css"
        type="text/css" />
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-grow-1 d-flex align-items-center justify-content-center">
        <div class="text-center">

            <h1 class="mb-5">TriviaBlast</h1>

            <!--isAuthenticated guarantees that the button only shows up for logged users-->
            <div>
                <a href="#" class="btn btn-primary btn-lg px-5 py-4 fs-4">
                    Join multiplayer game
                </a>
                <a href="#" class="btn btn-primary btn-lg px-5 py-4 fs-4" sec:authorize="isAuthenticated()">
                    Create multiplayer game
                </a>
                <a href="#" class="btn btn-primary btn-lg px-5 py-4 fs-4" sec:authorize="isAuthenticated()">
                    Play singleplayer game
                </a>
            </div>

        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />

</body>

</html>