<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name = "_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- lines 5,6 are stricly for error 403 Forbidden access,
      because the server doesn't allow me-->
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Multiplayer Game Setup</title>
    <link rel="stylesheet" th:href="@{/css/simple-datatables-10.css}" href="/css/simple-datatables-10.css"
        type="text/css" />
</head>

<body class="h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="d-flex justify-content-center pt-5 min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                    <h1 class="mb-5 text-center">Game Setup</h1>

                    <form id="createGameForm">
                        <p id="gameCode" class="text-center mt-3"></p>

                        <!-- Category-->

                        <div class="mb-5 text-start">
                            <label class="form-label fs-5">Category:</label>
                            <select class="form-select" name="category">
                                <option value="" selected>Any Category</option>
                                <option value="9">General Knowledge</option>
                                <option value="10">Entertainment: Books</option>
                                <option value="11">Entertainment: Film</option>
                                <option value="12">Entertainment: Music</option>
                                <option value="13">Entertainment: Musicals & Theatres</option>
                                <option value="14">Entertainment: Television</option>
                                <option value="15">Entertainment: Video Games</option>
                                <option value="16">Entertainment: Board Games</option>
                                <option value="17">Science & Nature</option>
                                <option value="18">Science: Computers</option>
                                <option value="19">Science: Mathematics</option>
                                <option value="20">Mythology</option>
                                <option value="21">Sports</option>
                                <option value="22">Geography</option>
                                <option value="23">History</option>
                                <option value="24">Politics</option>
                                <option value="25">Art</option>
                                <option value="26">Celebrities</option>
                                <option value="27">Animals</option>
                                <option value="28">Vehicles</option>
                                <option value="29">Entertainment: Comics</option>
                                <option value="30">Science: Gadgets</option>
                                <option value="31">Entertainment: Japanese Anime & Manga</option>
                                <option value="32">Entertainment: Cartoon & Animations</option>
                            </select>
                        </div>

                        <!-- Difficulty-->
                        <div class="mb-5">
                            <label class="form-label fs-5">Choose the game difficulty:</label>
                            <select class="form-select" name="difficulty">
                                <option value="easy" selected>Easy</option>
                                <option value="medium">Medium</option>
                                <option value="hard">Hard</option>
                            </select>
                        </div>

                        <!-- Number of questions -->
                        <div class="mb-5">
                            <label class="form-label fs-5">Choose number of questions:</label>
                            <select class="form-select" name="questionCount">
                                <option value="5" selected>5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-lg px-5">
                                Start
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
    <script>

    window.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("createGameForm");
        if (!form) {
            console.log("FORM NOT FOUND");
            return;
        }
        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const formData = new FormData(form);
            const token = document.querySelector('meta[name="_csrf"]').content;
            const header = document.querySelector('meta[name="_csrf_header"]').content;
            const res = await fetch("/game/create_multiplayer_game", {
                method: "POST",
                headers: {
                    [header]: token
                },
                body: formData
            });

            const code = await res.text();

            document.getElementById("gameCode").innerText = "Game Code: " + code;

            setTimeout(() => {
                window.location.href = "/game/multi_game";
            }, 30000000);
        });

    });
    </script>
</body>

</html>